<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/setup.html">Setup</a> <br>
        <a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell</a>
        <a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories</a>
        <a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories</a>
      </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters</a>
      </td> </tr>
      <tr> <td>11:35</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td> <a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">Loop</a></td> </tr>
      <tr> <td>13:20</td>  <td> <a href="https://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts</a></td> </tr>
      <tr> <td>14:10</td>  <td><a href="https://swcarpentry.github.io/shell-novice/07-find/index.html">Finding Things</a></td> </tr>
      <tr> <td>15:00</td>  <td>End of Day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/setup.html">Setup</a> <br>
        <a href="https://swcarpentry.github.io/git-novice/01-basics/index.html">Automated Version Control</a> <br>
        <a href="https://swcarpentry.github.io/git-novice/02-setup/index.html">Setting Up Git</a> <br>
        <a href="https://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository</a> <br>
        <a href="https://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking Changes</a> <br>
      </td> </tr>
      <tr> <td>09:40</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a> <br>
        <a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html">Ignoring Things</a> <br>
      </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub</a></td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating</a></td> </tr>
      <tr> <td>1:10</td>  <td><a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html">Conflicts</a></td> </tr>
      <tr> <td>1:25</td>  <td><a href="https://swcarpentry.github.io/git-novice/10-open/index.html">Open Science</a></td> </tr>
      <tr> <td>1:35</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/11-licensing/index.html">Licensing</a><br>
        <a href="https://swcarpentry.github.io/git-novice/12-citation/index.html">Citation</a><br>
        <a href="https://swcarpentry.github.io/git-novice/13-hosting/index.html">Hosting</a><br>
      </td> </tr>
      <tr> <td>14:00</td>  <td>End of Day 2</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html">Setup</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html">Running and Quitting</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html">Variables and Assignment</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">Data Types and Type Conversion</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html">Built-in Functions and Help</a> <br>
      </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html">Libraries</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">Reading Tabular Data into DataFrames</a> <br>
      </td> </tr>
      <tr> <td>11:10</td>  <td>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html">Pandas DataFrames</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html">Plotting</a> <br>
      </td> </tr>
      <tr> <td>12:10</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">Lists</a></td> </tr>
      <tr> <td>13:20</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html">For Loops</a></td> </tr>
      <tr> <td>13:40</td>  <td>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html">Conditionals</a> <br>
        <a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html">Writing Functions</a> <br>
      </td> </tr>
      <tr> <td>14:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td></td>  <td>END</td> </tr>
    </table>
  </div>
</div>